<%- include('../partials/header') %>
<div class="d-flex justify-content-between mt-4 pt-4">
    <div class="ms-5"><h3>Product Details</h3></div>
    <div class="d-flex justify-content-end">
        <a class="me-4" href="/sellers/editItem/<%=products._id%>"><i class="fa fa-pencil-square-o text-dark fs-3" aria-hidden="true"></i></a>
        <% if(products.blocked == false){ %>
            <a href="/sellers/block/item/<%=products._id%>" class="me-4"><i class="fa fa-trash-o text-dark fs-3" aria-hidden="true"></i></a></td>
            <% }else{ %>
                <a href="/sellers/unblock/item/<%=products._id%>" class="me-4"><img src="/img/icons/unblock.png" alt="" height="40px" width="40px"></a></td>
                <% } %>
                
    </div>
</div>
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>
  
    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">
  
    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>
<div class="d-flex">
    <div class="product-images">
        <% if (products.images && products.images.length > 0) { %>
            <% for (let i = 0; i < products.images.length; i++) { %>
                <div class="ms-5 mt-2 mb-4"><img class="myImg" src="/<%=products.images[i]%>" width="200px" height="100px" alt="image"></div>
            <% } %>
        <% } %>
    </div>
<main class="m-1">
    <section class="product-details">
        <div class="product-info">
            <h1 id="product-name"><%=products.name%></h1>
            <h2 class="m-3"><strong>Description:</strong><span id="product-price" class="m-3 p-2 text-secondary"><%=products.description%></span></h2>
            <h2 class="m-3"><strong>Price:</strong>&#8377;<span id="product-price" class="m-3 p-2 text-secondary"><%=products.price%></span></h2>
            <h2 class="m-3"><strong>Discount:</strong> <span id="product-discount" class="m-3 p-2 text-secondary"><%=products.discount%>%</span></h2>
            <h2 class="m-3"><strong>Quantity:</strong> <span id="product-quantity" class="m-3 p-2 text-secondary"><%=products.qty%></span></h2>
            
            <h2 class="m-3"><strong>Stock:</strong> <span id="product-stock" class="m-3 p-2 text-secondary"><%=products.stock%></span></h2>
            <h2 class="m-3"><strong>Food Type:</strong> <span id="product-food-type" class="m-3 p-2 text-secondary"><%=products.foodType%></span></h2>
            <h2 class="m-3"><strong>Category:</strong> <span id="product-category" class="m-3 p-2 text-secondary"><%=products.category%></span></h2>
        </div>
    </section>
</main>
<video id="product-video" controls autoplay muted width="400px" height="400px">
    <source src="<%=products.video%>" type="video/mp4">
    Your browser does not support the video tag.
</video>
</div>

<script>
        var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var imgs = document.getElementsByClassName("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");

for (let i=0;i<imgs.length;i++) {
  imgs[i].onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

</script>
<%- include('../partials/footer') %>