<%- include('../partials/header') %>

  <div class="container d-flex w-100">
    <button class="btn btn-danger m-3" id="menuBtn" onclick="toggle()">Menu</button>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger m-3 text-nowrap" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop">
      Add New Item
    </button>

    <% if(error){ %>
      <div class="container w-100 border border-dark mb-3" id="error">
        <div class="text-center">
          <h3>
            <%=error%>
          </h3>
        </div>
        <div class="text-center">
          <button class="btn btn-primary mb-2" onclick="errorBtn('<%=user %>')">Ok</button>
        </div>
      </div>
      <%}%>
      
        <!-- Modal -->
        <div class="modal  fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create new item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              
              <div >
                <div class="modal-body">
                  <div >
                    <form onsubmit="addFoodType()" method="post" onsubmit="(e)=>e.preventDefault()"
                      action="../sellers/addFoodType">
                      <div class="row g-3">
                        <div class="col-md-4">
                          <label for="category" class="form-label">New food type</label>
                        </div>
                        <div class="col-md-4">
                          <input type="text" class="form-control col-5" id="newFoodType" name="newFoodType" required>
                        </div>
                        <div class="col-md-4">
                          <button type="submit" class="col-4">Add</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div>
                    <form class="row g-3 m-3" enctype="multipart/form-data" onsubmit="(e)=>e.preventDefault()"
                      method="post" action="../sellers/addVideo">
                      <div class="col-lg-6">
                        <input type="file" class="form-control" id="video" name="video" multiple accept="video/*" required>
                      </div>
                      <div class="col-lg-4">
                        <button type="submit">Add Video</button>
                      </div>
                    </form>
                  </div>
  
                  <form class="row g-3 m-3" enctype="multipart/form-data" onsubmit="(e)=>e.preventDefault()" method="post"
                    action="../sellers/addItem">
                    <div class="row">
                      <div class="col-md-6">
                        <label for="foodType" class="form-label">Food Type</label>
                        <select id="inputFoodType" name="foodType" class="form-select" required>
                          <option selected disabled>Choose...</option>
                          <% for(let i=0;i<foodType.length;i++){ %>
                            <option>
                              <%= foodType[i] %>
                            </option>
                            <% } %>
                        </select>
                      </div>
                      <div class="col-md-6">
                        <label for="category" class="form-label">Category</label>
                        <input type="text" class="form-control" id="inputCategory" name="category" required>
                      </div>
                      <div class="col-12">
                        <label for="itemName" class="form-label">Item name</label>
                        <input type="text" class="form-control" id="itemName" placeholder="Item name..." name="itemName"
                          required>
                      </div>
                      <div class="col-12">
                        <label for="images" class="form-label">Item Images</label>
                        <input type="file" class="form-control" id="images" name="images" multiple accept="image/*"
                          required>
                      </div>
                      <div class="col-12">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" required></textarea>
                      </div>
              
              <div class="col-md-4">
                <label for="discount" class="form-label">Discount</label>
                <input type="number" class="form-control" id="discount" name="discount" placeholder="Discount" required>
              </div>
              <div class="col-md-4">
                <label for="qty" class="form-label">Quantity</label>
                <input type="text" class="form-control" id="qty" name="qty" placeholder="Quantity" required>
              </div>
              
              <div class="col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" name="price" placeholder="Price" required>
              </div>
              <div class="col-6">
                <label for="stock" class="form-label">Stock</label>
                <input type="number" class="form-control" id="stock" name="stock" placeholder="Stock" required>
              </div>
             </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add item</button>
          </div>
              </form>
          </div>
              </div>
      </div>
    </div>
    </div>

    <div class="container">
      <form class="d-flex" action="../sellers/search">
        <input class="form-control m-3  border border-danger" type="search" placeholder="Search Items.." aria-label="Search" name="q">

        <button class="btn btn-danger m-3" type="submit">Search</button>
      </form>
    </div>
  </div>
 
<div id="search">
  <% if(search != ''){ %>
    <table class="table table-dark table-hover align-middle table-striped">
      <thead>
        <tr>
          <th scope="col">Item Name</th>
          <th scope="col">Images</th>
          <th scope="col">Discount</th>
          
          <th scope="col">Price</th>
          <th scope="col">Stock</th>
          <th scope="col">Status</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
          <th><a href="/sellers/search/close" ><img src="/img/icons/close.png" width="40px" height="40px" alt="close"></a></th>
        </tr>
      </thead>
      <tbody><% search.forEach(item => { %>
        <tr>
          
          <td><%= item.name %></td>
          <td><img src="/sellers/getImage/<%=item._id%>/0" width="100px" height="100px" alt="image"></td>
          <td><%= item.discount %></td>
          <td><%= item.price %></td>
          <td><%= item.stock %></td>
          <td><% if(item.blocked == false){ %>
            Active
            <% }else{ %>
                Blocked
                <% } %></td>
          <td><a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/UniversalEditButton3.svg/1200px-UniversalEditButton3.svg.png" alt="edit" width="40px" height="40px"></a></td>
          <td><% if(item.blocked == false){ %>
              <a href="" ><img src="/img/icons/delete.png" alt="" width="40px" height="40px"></a></td>
              <% }else{ %>
                  <a href=""><img src="/img/icons/unblock.png" alt="" height="40px" width="40px"></a></td>
                  <% } %>
        </tr>
      <% }); %>
    </tbody>
  </table>
    <% } %>
</div>

  <div class="container-fluid" id="menu">
    <% menus.menu.forEach(menuItem => { %>
      <%if(menuItem.category.length != 0){%>
        <h2><%= menuItem.name %></h2>
        <% menuItem.category.forEach(category => { %>
          
          <div class="d-flex">
            <h3><%= category.name %></h3>
            <h3 class="ms-auto "><% if(category.blocked == false){ %>
              Active
              <% }else{ %>
                  Blocked
                  <% } %></h3>
            <% if(category.blocked == false){ %>
              <a href="/sellers/block/<%=category.name%>/<%=menus._id%>" class="ms-auto p-2"><img src="/img/icons/delete.png" alt="" width="40px" height="40px"></a></td>
              <% }else{ %>
                  <a href="/sellers/unblock/<%=category.name%>/<%=menus._id%>"><img src="/img/icons/unblock.png" alt="" height="40px" width="40px"></a></td>
                  <% } %>
          </div>
          <table class="table table-dark table-hover align-middle table-striped">
            <thead>
              <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Images</th>
                <th scope="col">Video</th>
                <th scope="col">Discount</th>
                <th scope="col">Quantity</th>
                <%if(menuItem.name == 'Ready to eat'|| menuItem.name == 'Hot and eat'){%>
                  <th scope="col">Taste</th>
                  <%}else if(menuItem.name == 'Instant cook'){%>
                    <th scope="col">Capacity</th>
                    <%}%>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Status</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <% category.items.forEach(item => { %>
                <%if(item.item){%>
                  <tr>  
                      <td>
                        <a href="/sellers/product/<%=item.item._id%>">
                        <%= item.item.name %>
                        </a>
                    </td>   

                    <td>
                      <%for(let i=0;i<item.item.images.length;i++){%>
                      <img class="myImg m-3" src="/sellers/getImage/<%=item.item._id%>/<%=i%>" width="100px" height="100px" alt="image">
                      <%}%>
                    </td>
                      <div id="myModal" class="modal">

                        <!-- The Close Button -->
                        <span class="close">&times;</span>
                      
                        <!-- Modal Content (The Image) -->
                        <img class="modal-content" id="img01">
                      
                        <!-- Modal Caption (Image Text) -->
                        <div id="caption"></div>
                      </div>
                      <td><video controls width="200" height="200">
                        <source src="/sellers/getVideo/<%=item.item._id%>" type="video/mp4">
                        Your browser does not support the video tag.
                    </video></td>
                    <td><%= item.item.discount %></td>
                    <td><%= item.item.qty %></td>
                    <%if(item.item.foodType == 'Instant cook'){%>
                      <td><%= item.item.tasteOrcapacity %></td>
                      <%}else{%>
                        <td><%= item.item.tasteOrcapacity %></td>
                        <%}%>
                    <td>&#8377;<%= item.item.price %></td>
                    <td><%= item.item.stock %></td>
                    <td><% if(item.item.blocked == false){ %>
                      Active
                      <% }else{ %>
                          Blocked
                          <% } %></td>
                    <td><a href="/sellers/editItem/<%=item.item._id%>"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/UniversalEditButton3.svg/1200px-UniversalEditButton3.svg.png" alt="edit" width="40px" height="40px"></a></td>
                    <td><% if(item.item.blocked == false){ %>
                        <a href="/sellers/block/item/<%=item.item._id%>" ><img src="/img/icons/delete.png" alt="" width="40px" height="40px"></a></td>
                        <% }else{ %>
                            <a href="/sellers/unblock/item/<%=item.item._id%>"><img src="/img/icons/unblock.png" alt="" height="40px" width="40px"></a></td>
                            <% } %>
                  </tr>
                  <%}%>
              <% }); %>
            </tbody>
          </table>
        <% }); %>
        <%}%>
    <% }); %>
  </div>
  </div>
  
  <script>
    function errorBtn(user){
          const div = document.getElementById('error');
          div.style.display = 'none';
          window.location.href = `/${user}`;
        }
    var modal = document.getElementById("myModal");
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var imgs = document.getElementsByClassName("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    for (let i = 0; i < imgs.length; i++) {
      imgs[i].onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
      }
    }
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }
  </script> 
  
  <script src="../script.js" ></script> 

<%- include('../partials/footer') %>