<%- include('../partials/header') %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h2><%=userData.name%> Profile</h2>
                </div>
                <div class="card-body">
                    <p><strong>Name:</strong> <%=userData.name%></p>
                    <p><strong>Email:</strong> <%=userData.email%></p>
                    <p><strong>Password:</strong> <%=userData.password%></p>
                    <p><strong>Status:</strong> <%=userData.status%></p>
                    <p><strong>Location:</strong> <%=userData.location%></p>
                    <!-- Add more user details here -->
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#editProfileModal">Edit Profile</button>
                    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Edit Profile</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Edit form fields go here -->
                                    
                                        <form id="editForm" method="post" action="/sellers/editProfile">
                                            <div class="row">
                                                <div class="form-group col-6">
                                                    <label for="name">Name</label>
                                                    <input type="text" class="form-control" value="<%=userData.name%>" id="name" name="name" required>
                                                </div>
                                                <div class="form-group col-6">
                                                    <label for="lMark">Email</label>
                                                    <input type="text" class="form-control" id="email" name="email" required value="<%=userData.email%>">
                                                </div>
                                                <div class="form-group col-6">
                                                    <label for="mobile">Change Password</label>
                                                    <input type="number" class="form-control" name="password" >
                                                </div>
                                                <div class="form-group col-6">
                                                    <label for="mobile">Location</label>
                                                    <input type="text" class="form-control" name="location" value="<%=userData.location%>" >
                                                </div>
                                                
                                            </div>
                                            <!-- Add more form fields for other details -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary"  >Save Changes</button>
                                            </div>
                                        <!-- Add more form fields for other details -->
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-secondary" href="/sellers/home">Menu</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<%- include('../partials/footer') %>