<%- include('../partials/header') %>
<div>
  <section class="h-100 h-custom " >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100 " >
        <div class="col-lg-8 col-xl-9" >
          <div class="card border-top border-bottom border-3" style="border-color: #f37a27">
            <div class="card-body p-5">
  
              <p class="lead fw-bold mb-5" style="color: #f37a27;">Thanks for your order, <%=order.customer.name%></p>
  
              <div class="row">
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Date</p>
                  <p><%=order.ordered_on.toLocaleDateString()%></p>
                  <div class="mt-4 pt-4">
                    <p class="small text-muted mb-1">Payment Mode</p>
                  <p><%=order.payment_mode%></p>
                  </div>
                </div>
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Order id.</p>
                  <p><%=order._id%></p>
                  <div class="mt-4 pt-4">
                    <p class="small text-muted mb-1">Payment Status</p>
                  <p><%=order.paymentStatus%></p>
                  </div>
                </div>
                <div class="col mb-3">
                  <p class="small text-muted mb-1">Ordered address</p>
                  <p><% Object.entries(order.address).forEach(([key, value]) => { %>
                    <p class="lh-1"><%= key %>: <%= value %></p>
                  <% }); %></p>
                </div>
              </div>
              <%sum = 0%>
              <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                <%let p=0;%>
                <%order.items.forEach((i,index)=>{%>
                  <div class="row">
                    <div class="col-md-8 col-lg-2">
                      <p><img src="<%=i.itemId.images[0]%>" width="80px" height="80px" alt="image"></p>
                    </div>
                    <div class="col-md-8 col-lg-3">
                      <p><%=i.itemId.name%></p>
                    </div>
                    <div class="col-md-4 col-lg-2">
                      <p><%=i.itemId.price%></p>
                      <%if(i.status != 'Cancelled' || i.status != 'Returned'){ sum+=i.itemId.price }%>
                    </div>
                    <div class="col-md-4 col-lg-2">
                      <%if(i.status == 'Returned' || i.status == 'Cancelled' || i.status == 'Cancel requested' || i.status == 'Cancelled' || i.status == 'Request denied'){%><p class="text-danger"><%=i.status%></p><%}else{%>
                      <a href="#" style="color: #f37a27;" data-bs-toggle="modal" data-bs-target="#exampleModal<%=index%>"><%if(order.status == 'Delivered'){%>Return <%}else if(order.status != 'Delivered' && order.status != 'Cancelled'){%>Cancel<%}%>
                      </a>
                      <div class="modal fade" id="exampleModal<%=index%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Reason for <%if(order.status!= 'Delivered'){%>Cancel <%}else {%> Return <%}%> your order </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form method="post" <% if (i.status == 'Delivered') { %> action= "/users/order/Return Requested/<%= order._id %>/<%= i.itemId._id %>"<% } else { %> action = "/users/order/Cancel requested/<%= order._id %>/<%= i.itemId._id %>"<% } %>>
                                <div class="mb-3">
                                  <label for="reason" class="form-label">Reason</label>
                                  <textarea type="text" class="form-control" id="reason" name="reason"></textarea>
                                </div>
                                <input type="hidden" value="<%= i.itemId._id %>" name="itemId">
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                              </form>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                      <%}%>
                    </div>
                    <div class="col-md-4 col-lg-2">
                      <%if(i.status == 'Delivered'){%>
                      <a href="#" style="color: #f37a27;" data-bs-toggle="modal" data-bs-target="#exampleReview<%=index%>"><i class="fa fa-plus" aria-hidden="true"></i> Review
                      </a>
                      <div class="modal fade" id="exampleReview<%=index%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">
                                
                                <% let flag1 = true; %>
                                  <% i.itemId.rating.forEach(ratingItem => {%>
                                    <%if (ratingItem.customer.toString() == order.customer._id.toString()) {
                                      flag1  = false;
                                  %>
                                      Edit Your Review
                                  <% }
                                  }); %>
                                  <% if (flag1 == true) { %>
                                    Add Your Review
                                  <% } %>
                              </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              
                              <% let flag = true; %>
                              <% i.itemId.rating.forEach((ratingItem,index) => {
                                if (ratingItem.customer.toString() == order.customer._id.toString()) {
                                  flag = false;
                              %>
                                  <form action="/users/rating/edit/<%= i.itemId._id %>" method="post">
                                    <div id="rating">
                                      <% for (let i = 1; i <= ratingItem.rate; i++) { %>
                                        <%p++%>
                                        <input type="radio" id="<%= p %>" style="display: none;" name="rate" value="<%= i %>" checked>
                                        <label for="<%= p %>" class="star-label"><i class="fa fa-star text-warning mb-2" aria-hidden="true"></i></label>
                                      <% } %>

                                      <% for (let i = ratingItem.rate + 1; i <= 5; i++) { %>
                                        <%p++%>
                                        <input type="radio" id="star<%= p %>" style="display: none;" name="rate" value="<%= i %>">
                                        <label for="<%= p %>" class="star-label"><i class="fa fa-star-o" aria-hidden="true"></i></label>
                                      <% } %>
                                    </div>
                                    <input type="hidden" value="<%=index%>" name="i">
                                    <input type="hidden" value="<%=order._id%>" name="orderId">
                                    <textarea name="review" id="review" cols="30" rows="5"><%= ratingItem.review %></textarea>
                                    <button type="submit" class="btn btn-transparent"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                  </form>
                              <% }
                              }); %>
                              <% if (flag == true) { %>
                                <form action="/users/rating/add/<%= i.itemId._id %>" method="post">
                                  <input type="hidden" value="<%=order._id%>" name="orderId">
                                  <div id="rating">
                                    <% for (let i = 1; i <= 5; i++) { %>
                                      <%p++;%>
                                      <input type="radio" id="star<%= p %>" style="display: none;" name="rate" value="<%= i %>">
                                      <label for="<%= p %>" class="star-label"><i class="fa fa-star-o " aria-hidden="true"></i></label>
                                    <% } %>
                                  </div>
                                  <textarea name="review" id="review" cols="30" rows="5"></textarea>
                                  <button type="submit" class="btn btn-transparent"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                </form>
                              <% } %>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                      <%}%>
                    </div>
                  </div>
                  <%})%>
                 <%if(order.couponDiscount){%>
                  <div class="row mb-2">
                    <div class="col-md-8 col-lg-5">
                      <p class="mb-0">Coupon discount</p>
                    </div>
                    <div class="col-md-4 col-lg-3">
                      <%let coupon =order.amount*order.couponDiscount/100 ; sum = sum-coupon%>
                      <p class="mb-0">-<%=coupon.toFixed(2)%></p>
                    </div>
                  </div>
                               
                  <%}%>
                  <div class="row">
                    <div class="col-md-8 col-lg-5">
                      <p class="mb-0">GST</p>
                    </div>
                    <div class="col-md-4 col-lg-3">
                      <%let gst = order.amount-sum%>
                      <p class="mb-0"><%=gst.toFixed(2)%></p>
                    </div>
                  </div>
                </div> 
              </div>
  
              <div class="row my-4">
                <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                  <p class="lead fw-bold mb-0" style="color: #f37a27;">&#8377;<%=order.amount%></p>
                </div>
              </div>
  
            <%if(order.status == 'Returned' || order.status == 'Cancelled'||order.status == 'Cancel requested'|| order.status == 'Return requested'){%>
              <p class="lead fw-bold mb-4 pb-2" style="color: #f37a27;">Order <%if(order.status == 'Returned'){%>returned <%}else{%>cancelled<%}%></p>
              <p class="lead mb-4 pb-2" style="color: #f37a27;">Reason : <%=order.reason%></p>
              <%}else{%>
                <p class="lead fw-bold mb-4 pb-2" style="color: #f37a27;">Tracking Order</p>
  
                <div class="row">
                  <div class="col-lg-12">
    
                    <div class="horizontal-timeline">
                      <%if(order.status == 'Pending'){%>
                        <div class="slidecontainer">
                          <input type="range" min="1" max="100" value="10" class="custom-range" id="myRange" disabled>
                        </div>
                        <%}else if(order.status == 'Confirmed'){%>
                          <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="35" class="custom-range" id="myRange" disabled>
                          </div>
                          <%}else if(order.status == 'Packed'){%>
                          <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="53" class="custom-range" id="myRange" disabled>
                          </div>
                          <%}else if(order.status == 'Shipped'){%>
                            <div class="slidecontainer">
                              <input type="range" min="1" max="100" value="73" class="custom-range" id="myRange" disabled>
                            </div>
                            <%}else if(order.status == 'Delivered'){%>
                              <div class="slidecontainer">
                                <input type="range" min="1" max="100" value="100" class="custom-range" id="myRange" disabled>
                              </div>
                              <%}%>
    
                      <ul class="list-inline items d-flex justify-content-between">
                        <li class="list-inline-item items-list">
                          <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Order requesting</p
                            class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">
                        </li>
                        <li class="list-inline-item items-list">
                          <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Confirmed</p
                            class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">
                        </li>
                        <li class="list-inline-item items-list">
                          <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">Packed</p
                            class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">
                        </li>
                        <li class="list-inline-item items-list">
                          <p class="py-1 px-2 rounded text-white" style="background-color: #f37a27;">On the way
                          </p>
                        </li>
                        <li class="list-inline-item items-list text-end" style="margin-right: 8px;">
                          <p style="margin-right: -8px;background-color: #f37a27;" class="py-1 px-2 rounded text-white">Delivered</p>
                        </li>
                      </ul>
    
                    </div>
    
                  </div>
                </div>
                
  
              <p class="mt-4 pt-2 mb-4 pb-3">Do you want  <%if(order.status!= 'Delivered'){%>Cancel <%}else{%> Return <%}%> the order?
                 <a href="#!" style="color: #f37a27;" data-bs-toggle="modal" data-bs-target="#exampleModal">Please click here
                  </a></p>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Reason for <%if(order.status!= 'Delivered'){%>Cancel <%}else{%> Return <%}%> your order </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form method="post" <%if(order.status == 'Delivered'){%>action="/users/order/Cancel requested/<%=order._id%>/all" <%}else if(order.status != 'Delivered'){%>action="/users/order/Cancel requested/<%=order._id%>/all"<%}%> >
                            
                            <div class="mb-3">
                              <label for="reason" class="form-label">Reason</label>
                              <textarea type="text" class="form-control" id="reason" name="reason"></textarea>
                            </div>
                            
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                          </form>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <%}%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
  <script>
   
   const starLabels = document.querySelectorAll(".star-label");
 
starLabels.forEach(function(starLabel, index) {
  
  starLabel.addEventListener("click", function() {
    const rating = index + 1;
    starLabels.forEach(function(label, i) {
      if (i < rating) {
        label.innerHTML = '<i class="fa fa-star text-warning mb-2" aria-hidden="true"></i>';
      } else {
        label.innerHTML = '<i class="fa fa-star-o" aria-hidden="true"></i>';
      }
    });

    // Update the selected rating in the hidden input
    let ratingInput ;
    if(starLabel){
      ratingInput = document.querySelector(`#star${starLabel.htmlFor}`);
    }

    if (ratingInput) {
      ratingInput.checked = true;
    }
  });
});
  const rangeInput = document.getElementById('myRange');

//Function to update the background color of the track based on the value
function updateRangeColor() {
  console.log('hjasj');
  const value = rangeInput.value;
  rangeInput.style.background = `linear-gradient(to right, #f37a27 0%, #f37a27 ${value}%, transparent ${value}%, transparent 100%)`;
}
//Add an event listener to update the range color when the value changes
rangeInput.addEventListener('input', updateRangeColor);

// Initial update
updateRangeColor();
  </script>
<%- include('../partials/footer') %>