<%- include('../partials/header') %>
<div>
  <section class="h-100">
  
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
          <%if(cartData.length){%>
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
            <div>
              <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                    class="fa fa-angle-down mt-1" aria-hidden="true"></i></a></p>
            </div>
          </div>
          <%let price = 0 %>
  
    
    <%for(let i=0;i< cartData.length;i++){%>
      <%price =price+cartData[i].itemId.price%>
      <div class="card rounded-3 mb-4 shadow-lg p-3 mb-3 m-4 rounded bg-transparent">
          <div class="card-body p-4 ">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="/<%=cartData[i].itemId.images[0]%>"
                  class="img-fluid rounded-1" >
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2"><%=cartData[i].itemId.name%></p>
                <!-- <p class="lead fw-normal mb-2"><%=cartData[i].itemId.description%></p> -->
                <p><span class="text-muted">Quantity: </span><%=cartData[i].itemId.qty%></p><p> <span class="text-muted">Seller: </span><%=cartData[i].itemId.seller.name%></p>           </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <button class="btn btn-link px-2"
                onclick="updateQuantity(this, -1, '<%=cartData[i].itemId.price%>','<%=i%>','<%=cartData[i].itemId._id%>')">
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
  
                <input id="form1" min="1" name="quantity" value="<%=cartData[i].quantity%>" type="number"
                  class="form-control form-control-sm" readonly/>
  
                  <button class="btn btn-link px-2"
                  onclick="updateQuantity(this, 1, '<%=cartData[i].itemId.price%>','<%=i%>','<%=cartData[i].itemId._id%>')">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0"  id="price<%= i %>"><%=cartData[i].itemId.price%></h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a href="/users/remCart/<%=cartData[i].itemId._id%>" class="text-danger"><i class="fa fa-trash fa-lg" ></i></a>
              </div>
            </div>
          </div>
        </div>
      <%}%>
  
          <div class="card mb-4 shadow-lg p-3 mb-3 m-4 rounded bg-transparent">
            <div class="card-body p-4 d-flex flex-row">
              <div class="form-outline flex-fill">
                <label class="form-label fs-1" for="form1">Total</label>
              </div>
              <h2 id="tottal"><%=price%></h2>
              
            </div>
          </div>
  
          <div class="card shadow-lg p-3 mb-3 m-4 rounded bg-transparent">
            <div class="card-body">
              <a href="/users/checkout" class="btn btn-outline-danger btn-block btn-lg">Proceed to Buy</a>
            </div>
          </div>
          <%}else{%>
            <div class="container w-100 mb-3" id="error">
                <div class="text-center">
                  <h3>Sorry! Cart is Empty,</h3>
                  <img src="https://static.thenounproject.com/png/6018981-200.png" alt="">
                </div>
              
            </div>
            <%}%>
  
        </div>
      </div>
    </div>
  </section>
</div>
  
  <script>
    
    const tottal = document.getElementById('tottal');
  async function updateQuantity(button, change,p, i,id) {
    let inputField = button.parentNode.querySelector('input[type=number]');
    let newValue = parseInt(inputField.value) + change;
    if (newValue >= 1) {
        
        
        await fetch( `/users/changeQty/${id}/${newValue}`).then(res=>res.json()).then(res=>{
          if(res.data){
            inputField.value = newValue;
            updatePrice(inputField,p, i);
          }else{
            Swal.fire({
              icon: 'info',
              title: 'Oops...',
              text: 'Limited stock only',
            })
          }
        }) // Pass cartData to the function
    }
}

function updatePrice(inputField,p, i) { // Receive cartData as an argument
    let priceElement = document.getElementById('price' + i);
    let quantity = inputField.value;
    tottal.innerText = parseInt(tottal.innerText)- parseInt(priceElement.innerText);
    let totalPrice = p * quantity;
    priceElement.innerText = totalPrice;
    tottal.innerText = parseInt(tottal.innerText)+ parseInt(priceElement.innerText);
}
  </script>
<%- include('../partials/footer') %>