<%- include('../partials/header') %>
<div class="container ">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="container-fluid shadow-lg p-3 mb-3 m-3 rounded bg-transparent">
                <div class="card-header">
                    <h2>User Profile</h2>
                </div>
                <div class="d-flex justify-content-center">
                    <form action="/users/upload_profileImage" method="post" id="formImage" enctype="multipart/form-data">
                        <div id="profile-photo-container" class="m-4">
                            <div class="w-25">
                                <label for="photo-upload" id="profile-photo-label">
                                    <img id="profile-photo" src="<%=userData.image%>" class="rounded-circle" height="180px" width="180px" alt="Profile Photo">
                                  </label>
                            </div>
                            <input type="file" style="display: none;" name="file" id="photo-upload" accept="image/*">
                          </div>
                    </form>
                      <div class="m-4">
                        <p><strong>Name:</strong> <%=userData.name%></p>
                        <p><strong>Email:</strong> <%=userData.email%></p>
                        <p><strong>Referral Code:</strong> <span id="referralCode"><%=userData.referralCode%></span> <button class="btn" id="copyBtn"><i class="fa fa-clone " id="copy" aria-hidden="true"></i></button><span id="copied">Copied<i class="fa fa-check"  aria-hidden="true"></i></span></p>
    
                        <button class="btn btn-warning mb-2" data-toggle="modal" data-target="#addAddressModal"><i class="fa fa-plus  fs-3 " aria-hidden="true"></i> Address</button>
                      </div>
                </div>
                <div class="container-fluid">
                    
                       <div class="p-3 row">
                        <%for(let i=0;i<userData.address.length;i++){%>
                           <div class="col-4">
                           <h6> <strong class="p-3">Address<%=i+1%>:</strong></h6><% Object.entries(userData.address[i]).forEach(([key, value]) => { %>
                                <p class="lh-1 "><%= key %>: <%= value %></p>
                                <% }); %>
                       
        <div class="d-flex">
            <button class="btn btn-transparent shadow-lg p-3  m-3 rounded m-2 text-nowrap" data-toggle="modal" data-target="#editAddressModal"><i class="fa fa-pencil-square-o fs-4" aria-hidden="true"></i></button>
            <btn class="mt-3 fs-2"  onclick="addressDelete('<%=i%>')" id="delete"><i class="fa fa-trash" aria-hidden="true"></i></btn>           
        </div>
        <div class="modal fade" id="editAddressModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Edit Address</h5>
                    </div>
                    <div class="modal-body">
                        <!-- Edit form fields go here -->
                        
                            <form id="editForm" method="post" action="/users/editAddress/<%=i%>">
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="name">Name:</label>
                                        <input type="text" class="form-control" id="name" name="name" value="<%=Object.values(userData.address[i])[0]%>" required>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="name">House Name</label>
                                        <input type="text" class="form-control" value="<%=Object.values(userData.address[i])[1]%>" id="houseName" name="houseName" required>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="lMark">Land mark</label>
                                        <input type="text" class="form-control" id="lMark" name="lMark" required value="<%=Object.values(userData.address[i])[2]%>">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="mobile">Mobile</label>
                                        <input type="number" class="form-control" id="mobile" name="mobile" required value="<%=Object.values(userData.address[i])[3]%>">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="pin">Zip code</label>
                                        <input type="number" class="form-control" id="pin" name="pin" required value="<%=Object.values(userData.address[i])[4]%>">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="dist">District</label>
                                        <input type="text" class="form-control" id="dist" name="dist" required value="<%=Object.values(userData.address[i])[5]%>">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="state">State</label>
                                        <input type="text" class="form-control" id="state" name="state" required value="<%=Object.values(userData.address[i])[6]%>">
                                    </div>
                                </div>
                                <!-- Add more form fields for other details -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary"  >Save Changes</button>
                                </div>
                            <!-- Add more form fields for other details -->
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
                           </div>
       <%}%>      
    </div>            
                    <!-- Add more user details here -->
                </div>
                <div class="card-footer">
                    <button class="btn btn-warning" data-toggle="modal" data-target="#editProfileModal"><i class="fa fa-pencil-square-o fs-3" aria-hidden="true"></i> Profile</button>
                    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Edit Profile</h5>
                                    
                                </div>
                                <div class="modal-body">
                                    <!-- Edit form fields go here -->
                                    
                                        <form id="editForm" method="post" action="/users/editProfile">
                                            <div class="row">
                                                <div class="form-group col-6">
                                                    <label for="name">Name</label>
                                                    <input type="text" class="form-control" value="<%=userData.name%>" id="name" name="name" required>
                                                </div>
                                                <div class="form-group col-6">
                                                    <label for="lMark">Email</label>
                                                    <input type="text" class="form-control" id="email" name="email" required value="<%=userData.email%>">
                                                </div>
                                                <div class="form-group col-6">
                                                    <label for="mobile">Change Password</label>
                                                    <input type="number" class="form-control" id="mobile" name="password" >
                                                </div>
                                                
                                            </div>
                                            <!-- Add more form fields for other details -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary"  >Save Changes</button>
                                            </div>
                                        <!-- Add more form fields for other details -->
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-warning" href="/users/cart">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    <a class="btn btn-warning" href="/users/wishlist"><i class="fa fa-heart text-danger" aria-hidden="true"></i></a>
                    <a class="btn btn-warning" href="/users/orders"><b>Orders</b></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->

<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Add Address</h5>
                
            </div>
            <div class="modal-body">
                <!-- Edit form fields go here -->
                <form id="addAddressForm" method="post" action="/users/addAddress">
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group col-6">
                            <label for="name">House name:</label>
                            <input type="text" class="form-control" id="houseName" name="houseName" required>
                        </div>
                        <div class="form-group col-6">
                            <label for="lMark">Land mark</label>
                            <input type="text" class="form-control" id="lMark" name="lMark" >
                        </div>
                        <div class="form-group col-6">
                            <label for="mobile">Mobile</label>
                            <input type="tel" class="form-control" id="mobile" pattern="^\d{10}$"  name="mobile"  required>
                        </div>
                        <div class="form-group col-6">
                            <label for="pin">Zip code</label>
                            <input type="number" class="form-control" id="pin" pattern="^[1-9]\d{5}$" name="pin" required>
                        </div>
                        <div class="form-group col-6">
                            <label for="dist">District</label>
                            <input type="text" class="form-control" id="dist" name="dist" >
                        </div>
                        <div class="form-group col-6">
                            <label for="state">State</label>
                            <input type="text" class="form-control" id="state" name="state" >
                        </div>
                    </div>
                    <!-- Add more form fields for other details -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary"  id="saveButton">Save</button>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</div>
<script>
    const profilePhoto = document.getElementById('profile-photo');
const photoUpload = document.getElementById('photo-upload');

// Add an event listener to the file input
photoUpload.addEventListener('change',async function () {
  
  let form  =document.getElementById('formImage');
  
  form.submit();
});

     const copyButton = document.getElementById("copyBtn");
  const copyIcon = document.getElementById("copy");
  const copiedIcon = document.getElementById("copied");
  const referralCode = document.getElementById("referralCode").textContent.trim();
copiedIcon.style.display = 'none';
  copyButton.addEventListener("click", function() {
    const textArea = document.createElement("textarea");
    textArea.value = referralCode;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand("copy");
    document.body.removeChild(textArea);

    // Toggle icons
    copyIcon.style.display = "none";
    copiedIcon.style.display = "inline";

    // Revert to the "copy" icon after 2 seconds
    setTimeout(function() {
      copyIcon.style.display = "block";
      copiedIcon.style.display = "none";
    }, 2000);

    // Alert can be removed if not needed
  });

    function addressDelete(i){
        Swal.fire({
  title: 'Do you want delete the address?',
  
  showCancelButton: true,
  confirmButtonText: 'Delete',
 
}).then((result) => {
  /* Read more about isConfirmed, isDenied below */
  if (result.isConfirmed) {
    Swal.fire('Deleted!', '', 'success')
    setTimeout(()=>{window.location.href = `/users/removeAddress/${i}`},2000)
    
  } else if (result.isDenied) {
    Swal.fire('Changes are not saved', '', 'info')
  }
})
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<%- include('../partials/footer') %>